<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../../assets/css/main.css">
</head>
<body>
	<div class="limiter">
		<div class="container-login">
			<div class="wrap-login">
				<form class="login-form validate-form">
					<span class="login-form-title ">
						Register
					</span>
					<span class="login-form-title " style="margin-top : 15px; margin-bottom: 15px;">
						<img src="../../../assets//images/icons/favicon.ico">
          </span>
          <div class="wrap-input validate-input">
              <input class="input" type="text" name="username" placeholder="Username">
              <span class="focus-input"></span>
            </div>
					<div class="wrap-input validate-input">
            <input class="input" type="text" name="email" placeholder="Email">
            <span class="focus-input"></span>
					</div>
					<div class="wrap-input validate-input">
						<input class="input" type="password" name="password" placeholder="Password">
						<span class="focus-input"></span>
          </div>
          <div class="wrap-input validate-input" >
              <input class="input" type="password" name="password" placeholder="Re-Type Password">
              <span class="focus-input"></span>
            </div>
					<div class="container-login-form-btn">
						<div class="wrap-login-form-btn">
							<div class="login-form-bgbtn"></div>
							<button class="login-form-btn">
								Register
							</button>
						</div>
					</div>
					<div class="text-center" style="margin-top : 20px;">
						<span class="txt1">
							Already have an account?
						</span>
						<a class="txt2" href="#">
							Sign In
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="../../../assets/js/main.js"></script>
</body>
</html>