
<div class="reviews">
    <div class="row blockquote review-item">
      <div class="col-md-3 text-center">
        <img class="rounded-circle reviewer" src="http://standaloneinstaller.com/upload/avatar.png">
        <div class="caption">
          <small>by <a href="#joe">Suren Vithanage</a></small>
        </div>
  
      </div>
      <div class="col-md-9">
        <h4>My review</h4>
        <div class="ratebox text-center" data-id="0" data-rating="5"></div>
        <p class="review-text">Description</p>
        <div class="row">
          <div class="col-md-6">
              <h4>Pros</h4>
              <p class="review-text">Description</p>
          </div>
          <div class="col-md-6">
              <h4>Cons</h4>
              <p class="review-text">Description</p>
          </div>
        </div>
        <small class="review-date">March 26, 2017</small>
      </div>                          
    </div>  
  </div>